* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(217, 28%, 15%);
}

header {
  font-family: "Raleway", sans-serif;
  animation: headerAnimation 1s ease-in-out;
}

.img-logo {
  width: 130px;
}

.container-navbar {
  display: flex;
  align-items: center;
  margin-left: 30px;
  margin-top: 30px;
}

.navbar {
  margin-left: auto;
  padding-right: 50px;
}

.navbar > a,
.link-email-required {
  padding: 20px;
  position: relative;
  color: #fff;
  text-decoration: none;
}

a:before,
.link-email-required:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: hsl(198, 60%, 50%);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

a:hover:before,
.link-email-required:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.container-description {
  text-align: center;
}

.illustration-intro {
  width: 550px;
}

h1 {
  color: #fff;
  animation: buttonAnimation 1s ease-in-out;
}

.container-description > p {
  color: #fff;
  padding-top: 20px;
  animation: buttonAnimation 1.5s ease-in-out;
}

p {
  color: #fff;
  padding-top: 10px;
  font-family: "Raleway", sans-serif;
  font-size: 19px;
}

.button-started {
  margin-top: 50px;
  width: 300px;
  height: 50px;
  border-radius: 50px;
  font-size: 22px;
  border: none;
  color: #fff;
  background-color: hsl(198, 60%, 50%);
  font-weight: 600;
  align-items: center;
  animation: buttonAnimation 2s ease-in-out;
}

.button-started:hover {
  background-color: hsla(212, 96%, 41%, 0.479);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
}

.button-started:active {
  opacity: 0.2;
}

main {
  margin-top: 200px;
  align-items: center;
  background-repeat: no-repeat;
}

h2,
h4 {
  color: #fff;
}

.container-main-benefits {
  display: flex;
  margin-left: 220px;
  align-items: center;
  margin-top: 100px;
}

.container-benefits-file,
.container-benefits-security,
.container-benefits-collaboration,
.container-benefits-store {
  width: 580px;
  padding: 60px;
  text-align: center;
  align-items: center;
  margin-right: 100px;
  scroll-behavior: smooth;
}

.container-benefits-file:hover,
.container-benefits-security:hover,
.container-benefits-collaboration:hover,
.container-benefits-store:hover {
  background-color: hsla(198, 60%, 50%, 0.548);
  -webkit-transition: all 0.3s 0s;
  transition: all 1s 0s;
  border-radius: 50px;
}

.container-productive {
  margin: 200px;
  display: flex;
  align-items: center;
}

.txt-productive {
  margin: 60px;
}

.link-email-required {
  text-decoration: none;
  color: hsl(198, 60%, 50%);
}

.container-feedbacks {
  margin-left: 100px;
  margin-bottom: 200px;
  display: flex;
  gap: 30px;
}

.container-feedbacks-txt {
  width: 500px;
  height: auto;
  padding: 30px;
  background-color: hsl(218, 28%, 13%);
  box-shadow: 3px 3px 3px hsl(219, 30%, 18%);
}

.container-feedbacks-txt:hover {
  box-shadow: 3px 3px 6px hsla(198, 60%, 50%, 0.548);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  border-radius: 10px;
}

.container-profile-user {
  display: flex;
  padding-top: 30px;
}

.profile01 {
  width: 80px;
  border-radius: 100%;
  padding-left: 20px;
  margin-right: 30px;
}

.bg-quotes {
  width: 80px;
  margin-left: 50px;
}

.container-search {
  width: 1000px;
  margin: 0 auto;
  text-align: center;
  padding: 50px;
  background-color: hsl(218, 28%, 13%);
  box-shadow: 3px 3px 3px hsl(219, 30%, 18%);
}

.container-search:hover {
  box-shadow: 3px 3px 6px hsla(198, 60%, 50%, 0.548);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  border-radius: 10px;
}

.container-button-search {
  margin-top: 50px;
}

.input-search {
  width: 500px;
  height: 50px;
  border-radius: 30px;
  border: none;
  padding-left: 30px;
}

.button-started-search {
  width: 200px;
  height: 50px;
  border-radius: 30px;
  border: none;
  font-size: 18px;
  background-color: hsl(198, 60%, 50%);
  color: #fff;
}

.button-started-search:hover {
  opacity: 0.8;
  cursor: pointer;
}

.button-started-search:active {
  opacity: 0.6;
}

.container-politic-privacity {
  width: auto;
  height: auto;
  background-color: hsl(218, 28%, 13%);
  margin-top: 100px;
  padding: 50px;
}

.container-locazation{
  margin-top: 30px;
  display: flex;
  width: 400px;
  padding-left: 30px;
  align-items: center;
}

.container-info-contacts {
  margin-top: 30px;
  width: 400px;
  padding-left: 30px;
  align-items: center;
}

.container-info-politic {
  display: flex;
}

.icon-location, .icon-phone, .icon-email {
  margin-right: 30px;
  width: 20px;
  height: 20px;
}

.container-info-telephone, .container-info-email {
  display: flex;
  align-items: center;
}

@keyframes headerAnimation {
  from {
    transform: translateY(-110%);
  }
}

@keyframes buttonAnimation {
  from {
    transform: translateY(-1000%);
  }
}
